<h1>Galpões & Estoque</h1>

<h1>Galpões</h1>
<% @warehouses.each do |w| %>
  <%= link_to w.name, w %>
  Código: <%= w.code %>
  Cidade: <%= w.city %>
  <%= w.area %>m²<br>
<% end %>

<% if @warehouses.empty? %>
  <p>Não há galpões cadastrados</p>
<% end %>